    
<% if user_signed_in? %>    
  <%if current_user.admin?%>    
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Patente:</strong>
      <%= @combi.registration_plate %>
    </p>

    <p>
      <strong>Capacidad:</strong>
      <%= @combi.cap %>
    </p>

    <p>
      <strong>Modelo:</strong>
      <%= @combi.model %>
    </p>

    <p>
      <strong>Tipo:</strong>
      <%= @combi.bus_type %>
    </p>

    <p>
      <strong>Chofer:</strong>
      <%= @combi.user_id %>
    </p>

    <%= link_to 'Edit', edit_combi_path(@combi) %> |
    <%= link_to 'Back', combis_path %>
  <% end %>
<%end%>