
<%= form_for [@ticket, @list] do |form| %>
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
        <% list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
   <div class="col-3">
     <%= form.label :insumo_id, 'Seleccione el producto: *' %>
   </div>
   <div class="col-3">
    <%= form.collection_select :insumo_id, Insumo.availables, :id, :formatted_name,{},class: 'form-control', required: true %>
  </div>
 </div>
 
  <div class="row">
   <div class="col-3">
     <%= form.label :cant, 'Seleccione la cantidad: *' %>
   </div>
   <div class="col-3">
        <%= form.number_field :cant, required: true %>
  </div>
 </div>
  


  <div class="actions">
        <%= form.submit 'Comprar', class: 'btn btn-primary btn-sm' %>
      </div>
<% end %>
