<%= form_with(model: travel, local: true) do |form| %>
  <% if travel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(travel.errors.count, "error") %> No se pudo guardar el viaje:</h2>

      <ul>
        <% travel.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 
 <div class="row">
   <div class="col-3">
     <%= form.label :travel_day, 'Día de viaje: *' %>
   </div>
   <div class="col-3">
    <%= form.date_field :travel_day, required: true %>
  </div>
 </div>
 
 <div class="row">
   <div class="col-3">
     <%= form.label :travel_hour, 'Hora: *' %>
   </div>
   <div class="col-3">
    <%= form.time_field :travel_hour, required: true %>
  </div>
 </div>
 
  <div class="row">
   <div class="col-3">
     <%= form.label :combi_id, 'Id de la combi: *' %>
   </div>
   <div class="col-3">
    <%= form.collection_select :combi_id, Combi.availables, :id, :registration_plate,{},class: 'form-control' %>
  </div>
 </div>

<div class="row">
   <div class="col-3">
     <%= form.label :way_id, 'ruta: *' %>
   </div>
   <div class="col-3">

    <%= form.collection_select :way_id, Way.availables, :id, :formatted_name,{},class: 'form-control' %>
  </div>
 </div>
 
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
