<div class="container-fluid">
<h3>Viajes Disponibles </h3>

<div class="container-fluid">
<table class="table">
  <thead class="thead-dark">
    <tr align="center">
      <th>Dia</th>
      <th>Horario</th>
      <th>Combi</th>
      <th>Camino</th>
      <th>Estado</th>
      <th>Precio (ars)</th>      
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    
    <% @travels.each do |travel| %>
	<%if travel.travel_day > Date.today || (travel.travel_day == Date.today && travel.state_id == 3) %>
       <tr align="center">
        <td><%= travel.travel_day.strftime('%d-%m-%Y') %></td>
        <td><%= travel.travel_hour.strftime('%H:%M') %></td>
        <td><%= travel.combi_id %></td>
        <td><%= travel.way_id %></td>
        <td><%= State.find(travel.state_id).name %></td>
        <td><%= travel.price %></td>
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <td><%= link_to 'Detalles', travel , class: 'btn btn-light btn-sm'%></td>
            <td><%= link_to 'Editar', edit_travel_path(travel), class: 'btn btn-light btn-sm' %></td>
            <td><%= link_to 'Eliminar',destroy_travel_path(travel), data: { confirm: '¿Estás seguro?' }, class: 'btn btn-danger btn-sm' %></td>
          <%end%>
          <%end%>
         <td><%= link_to 'Comprar', new_ticket_new_path(travel.id),class: 'btn btn-default btn-sm' %> </td>      
        
      </tr>
      <%end%>
    <% end %>
  </tbody>
  
</table>


<br>
<% if user_signed_in? %>
  <% if current_user.admin? %>
    <%= link_to 'Registrar nuevo viaje', new_travel_path, class: 'btn btn-light btn-sm' %>
  <%end%>
<%end%>

</div>
</div>






