

<div class="container-fluid">
<h3>Insumos Disponibles </h3>

<div class="container-fluid">
<table class="table">
  <thead class="thead-dark">
    <tr align="center">
      <th>Tipo</th>
      <th>Cantidad</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @insumos.each do |insumo| %>
      <tr>
        <td><%= insumo.tipo %></td>
        <td><%= insumo.cant %></td>
        <% if user_signed_in? %>    
          <%if current_user.admin?%>
            <td><%= link_to 'Detalles', insumo %></td>
            <td><%= link_to 'Editar', edit_insumo_path(insumo) %></td>
            <td><%= link_to 'Eliminar', insumo, method: :delete, data: { confirm: 'Estas seguro ?' } %></td>
          <%end%>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>    
  <%if current_user.admin?%>
    <%= link_to 'Registrar nuevo insumo', new_insumo_path, class: 'btn btn-light btn-sm' %>
  <%end%>
<%end%>

</div>
</div>


