<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <%= link_to 'Inicio', root_path, class: 'btn btn-link' %>
            <li><%= link_to 'Sobre Nosotros', home_about_path, class: 'btn btn-link' %></li>
            <% if user_signed_in? %>
                <li><%= link_to 'Editar Perfil',edit_user_registration_path, class: 'btn btn-link'  %></li>
                <%= link_to 'Cerrar Sesión',destroy_user_session_path, method: :delete, class: 'btn btn-link'  %>
            <% else %>
                <li><%= link_to "Iniciar sesión",new_user_session_path, class: 'btn btn-link'  %></li>
                <li><%= link_to "Registrarme",new_user_registration_path, class: 'btn btn-link'  %></li>
            <% end %>

        </ul>
    </div>
</nav>

