<div class="jumbotron">
  <h1>Combi 19</h1>
  <p class="lead">Página de inicio</p>
  <hr class="my-4">
  
  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <p>Ir a Sitios:</p>
      <%= link_to "Sitios",sites_path, class: 'btn btn-primary' %>
      <p>Ir a Choferes:</p>
      <%= link_to "Choferes",drivers_path, class: 'btn btn-primary' %>
      <p>Ir a Rutas:</p>
      <%= link_to "Rutas",ways_path, class: 'btn btn-primary' %>
      <p>Ir a Combis:</p>
      <%= link_to "Combis",combis_path, class: 'btn btn-primary' %>
      <p>Ir a Insumos:</p>
      <%= link_to "Insumos",insumos_path, class: 'btn btn-primary' %>
      <p>Ir a Viajes:</p>
      <%= link_to "Viajes",travels_path, class: 'btn btn-primary' %>
    <%else%>
      <% if current_user.driver? %>
        <p>Página de inicio del chofer</p>
         <p>Ver mis viajes:</p>
        <%= link_to "Mis viajes",driver_travels_path(current_user), class: 'btn btn-primary' %>


      <%else%>
        <% if current_user.passenger? %>
          <p>Página de inicio del pasajero</p>
          <p>Ver pasajes comprados:</p>
          <%= link_to "Mis pasajes",tickets_path, class: 'btn btn-primary' %> <!--esto va en el perfil del usuario -->
          
          <p>Buscar viajes disponibles:</p>
          <%= link_to "Buscar viajes", search_travels_path, class: 'btn btn-primary' %>
         
          <p>Ver tarjetas</p>
          <%= link_to "Tarjetas",credit_card2s_path, class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>



</div>
