<div class="container-fluid">
<h3>Pasajes adquiridos </h3>

<div class="container-fluid">
<table class="table">
  <thead class="thead-dark">
    <tr align="center">
      <th>Viaje</th>
      <th>Estado</th>
      <th>Precio (ars)</th>      
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
	
       <tr align="center">
        <td><%= Travel.find(ticket.travel_id).selled_name %></td>
        <td><%= State.find(Travel.find(ticket.travel_id).state_id).name %></td> <!--ARREGLAR -->
        <td><%= ticket.price %></td>        
        <td><%= link_to 'Agregar insumos al viaje', '#', class: 'btn btn-light btn-sm' %></td>
        <td><%= link_to 'Cancelar Pasaje',ticket,method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-danger btn-sm' %></td>
      </tr>

    <% end %>
  </tbody>
</table>


<br>


</div>
</div>
