<div class="container-fluid">
<h3>Pasajes adquiridos </h3>

<div class="container-fluid">
<table class="table">
  <thead class="thead-dark">
    <tr align="center">
      <th>Viaje</th>
      <th>Estado</th>
      <th>Precio (ars)</th>      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
	
       <tr align="center">
        <td><%= Travel.find(ticket.travel_id).selled_name %></td>
        <td><%= State.find(Travel.find(ticket.travel_id).state_id).name %></td> <!--ARREGLAR -->
        <td><%= ticket.price %></td>        
        <%if State.find(Travel.find(ticket.travel_id).state_id).name=='Listo'  %>
        	<td><%= link_to 'Agregar insumos al viaje', new_ticket_list_path(ticket.id), class: 'btn btn-light btn-sm' %></td>
     		<%if ticket.lists.count > 0  %>
        		<td><%= link_to 'Ver insumos', ticket_lists_path(ticket.id), class: 'btn btn-light btn-sm' %></td>
        	<% end  %>
        	        
        	
        	<td><%= link_to 'Cancelar Pasaje',ticket,method: :delete, data: { confirm: '¿Estás seguro?, si el viaje està dentro de las 48 horas de su realizacion solo se reembolsarà el 50% del valor.'  }, class: 'btn btn-danger btn-sm' %></td>
        <% else  %>
          <%if State.find(Travel.find(ticket.travel_id).state_id).name =='Finalizado'%>  
            <td><%= link_to 'Calificar viaje', ticket_comments_path(ticket.id), class: 'btn btn-light btn-sm' %></td>
          <%end%>
        <% end  %>
      </tr>

    <% end %>
  </tbody>
</table>


<br>


</div>
</div>
