<div class="container-fluid">
<h3>Combis disponibles </h3>

<div class="container-fluid">
<table class="table">
  <thead class="thead-dark">
    <tr align="center">
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Dni</th>
      <th>Fecha de nacimiento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drivers.each do |driver| %>
	
       <tr align="center">
        <td><%= driver.name %></td>
        <td><%= driver.last_name %></td>
        <td><%= driver.email %></td>
        <td><%= driver.dni %></td>
        <td><%= driver.birth_date%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Registrar nuevo chofer', new_driver_path, class: 'btn btn-light btn-sm' %>


</div>
</div>
