   
<% if user_signed_in? %>    
  <%if current_user.admin?%>    
    <%= form_for @driver, :url => { :action => :create } do |f| %>

      <div class="field">
        <%= f.label :name, "Nombre" %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>

      <div class="field">
        <%= f.label :last_name, "Apellido" %><br />
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
      </div>

      <div class="field">
        <%= f.label :email, "Correo electrónico" %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :phone_number, "Número telefónico" %><br />
        <%= f.number_field :phone_number, autofocus: true, autocomplete: "phone_number" %>
        
      </div>

      <div class="field">
        <%= f.label :dni, "Documento" %><br />
        <%= f.number_field :dni, autofocus: true, autocomplete: "dni" %>
      </div>

      <div class="field">
        <%= f.label :password, "Contraseña" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> Caracteres mínimos</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "Contraseña nueva" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Confirmar contraseña" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "Contraseña nueva" %>
      </div>

      <div class="Actions">
            <%= f.submit "Registro de chofer"%>
      </div>

    <%end%>
  <%end%>
<%end%>
