<div class="container-fluid">
<h3>Mis proximos viajes </h3>

<div class="container-fluid">
<table class="table">
  <thead class="thead-dark">
    <tr align="center">
      <th>Dia</th>
      <th>Horario</th>
      <th>Origen</th>
      <th>Destino</th>
      <th>Combi</th>
      <th>Camino</th>
      <th>Estado</th>     
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @travels.each do |travel| %>
	<%if travel.travel_day > Date.today || (travel.travel_day == Date.today && travel.state_id != 2)%>
       <tr align="center">
        <td><%= travel.travel_day.strftime('%d-%m-%Y') %></td>
        <td><%= travel.travel_hour.strftime('%H:%M') %></td>
        <td><%= Site.find(Way.find(travel.way_id).start) %></td>
        <td><%= Site.find(Way.find(travel.way_id).end_way) %></td>
        <td><%= Combi.find(travel.combi_id).registration_plate %></td>
        <td><%= Way.find(travel.way_id).description %></td>
        <td><%= State.find(travel.state_id).name %></td>
        <% if user_signed_in? %>
          <% if (travel.state_id == 3)%>
            <%if (travel.travel_day == Date.today && travel.travel_hour.strftime("%H:%M:%S") <= Time.now.strftime("%H:%M:%S"))%>
             <td><%= link_to 'Iniciar viaje', change_state_path(travel.id),class: 'btn btn-default btn-sm' %> </td> 
            <%end%>
          <%else%>
            <td><%= link_to 'Finalizar viaje', change_state_path(travel.id),class: 'btn btn-default btn-sm' %> </td> 
          <<%end%>>
        <%end%>
              
        
      </tr>
      <%end%>
    <% end %>
  </tbody>
  
</table>

</div>
</div>