<% if user_signed_in? %>    
  <%if current_user.admin?%>    
    <%= form_with(model: site, local: true) do |form| %>
      <% if site.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(site.errors.count, "error") %> No se pudo guardar este destino:</h2>

          <ul>
            <% site.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>


    <div class="row">
      <div class="col-3">
        <%= form.label :name, 'Localidad: *' %>
      </div>
      <div class="col-3">
        <%= form.text_field :name, required: true %>
      </div>
    </div>
    


      <div class="actions">
        <%= form.submit 'Guardar datos', class: 'btn btn-primary btn-sm' %>
      </div>
    <% end %>
  <%end%>
<%end%>